body {
    background: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
}

div#container {
    background: #fff;
    width: 500px;
    max-width: 95vw;
    padding: 0px;
    padding-bottom: 5px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

h1 {
    background: #faa;
    border-radius: inherit;
}

div.formrow {
    padding: 5px;
}

input{
    height: 2rem;
    width: 50%;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: white;
    color: #4CAF50;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #80e983;
}

div#scorebox {
    border: 3px solid blue;
    width: max(50%,160px);
    margin: auto;
    padding: 10px;
}

div#resultinner {
    border: 3px solid blue;
    width: 90%;
    margin: auto;
    padding: 10px;
}
b#winner {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 200px;
    padding: 13px;
    font-size: 200%;
    color:blue;
    background: #ffa;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #777;
}

div#footer {
    background: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50%;
}
